Repository Vagabonds-Labs/cofiblocks: changes, and which lefthook commands are due for each by the changed paths.
All: check, sn_format

lefthook.yml:

commit-msg:
  scripts:
    template_checker.sh:
      runner: bash  # Optional, Lefthook will default to bash if you don't specify it

pre-commit:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run format:fix
      stage_fixed: true
    sn_format:
      glob: "apps/snfoundry/contracts/**/*.cairo"
      run: bun run sn:format:check
      stage_fixed: true
    build:
      run: bun run build

chore: clean up build errors and warnings (#35)
  apps/web/next.config.js
  apps/web/src/app/_components/features/OrderListItem.tsx
  apps/web/src/app/_components/features/ProductStatusDetails.tsx
  apps/web/src/app/_components/features/ProfileOptionLayout.tsx
  apps/web/src/app/_components/features/ProfileOptions.tsx
  apps/web/src/app/_components/features/UserWalletsModal.tsx
  apps/web/src/app/_components/ui/BottomModal.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/user-profile/page.tsx
  apps/web/src/app/user/edit-profile/farm-profile/page.tsx
  apps/web/src/app/user/edit-profile/my-profile/page.tsx
  apps/web/src/app/user/favorites/page.tsx
  apps/web/src/app/user/my-coffee/page.tsx
  apps/web/src/app/user/my-orders/[id]/page.tsx
  apps/web/src/app/user/my-orders/page.tsx
  apps/web/src/app/user/my-sales/[id]/page.tsx
  apps/web/src/app/user/my-sales/page.tsx
  apps/web/src/app/user/register-coffee/page.tsx
  apps/web/src/app/user/settings/page.tsx
  apps/web/src/i18n.ts
  apps/web/src/server/api/routers/user.ts
  biome.json
  lefthook.yml
  package.json
Due: check

refactor: Added search bar using jotai Atoms no unnecesary files (#34)
  apps/web/public/images/NoResultsImage.png
  apps/web/src/app/_components/features/ProductCatalog.tsx
  apps/web/src/app/_components/features/SearchBar.tsx
  apps/web/src/app/marketplace/page.tsx
  apps/web/src/atoms/productAtom.ts
  apps/web/src/server/api/routers/product.ts
  packages/ui/src/form/inputField.tsx
Due: check

fix: build errors
  apps/web/prisma/migrations/20241024030148_/migration.sql
  apps/web/prisma/schema.prisma
  apps/web/prisma/seed.js
  apps/web/src/app/_components/features/ProductCatalog.tsx
  apps/web/src/app/user/edit-profile/farm-profile/page.tsx
  apps/web/src/app/user/edit-profile/my-profile/page.tsx
Due: check

fix: user profile header
  apps/web/src/app/_components/layout/Header.tsx
  apps/web/src/app/user-profile/page.tsx
  packages/ui/src/pageHeader.tsx
Due: check

Feature/UI build errors fix (#38)
  apps/web/prisma/migrations/20241024030148_/migration.sql
  apps/web/prisma/schema.prisma
  apps/web/prisma/seed.js
  apps/web/src/app/_components/features/ProductCatalog.tsx
  apps/web/src/app/_components/layout/Header.tsx
  apps/web/src/app/user-profile/page.tsx
  apps/web/src/app/user/edit-profile/farm-profile/page.tsx
  apps/web/src/app/user/edit-profile/my-profile/page.tsx
  packages/ui/src/pageHeader.tsx
Due: check

Feature/erc 1155 update (#33)
  .cursorrules
  apps/snfoundry/contracts/.tool-versions
  apps/snfoundry/contracts/Scarb.lock
  apps/snfoundry/contracts/Scarb.toml
  apps/snfoundry/contracts/src/CofiCollection.cairo
  apps/snfoundry/contracts/src/cofi_collection.cairo
  apps/snfoundry/contracts/src/lib.cairo
  apps/snfoundry/contracts/src/mock_contracts/Receiver.cairo
  apps/snfoundry/contracts/src/test/CofiCollection.cairo
  apps/snfoundry/contracts/src/test/test_cofi_collection.cairo
  apps/web/src/contracts/abi/CofiCollection.ts
  package.json
Due: check, sn_format

fix: update deployment scripts
  apps/snfoundry/.env.example
  apps/snfoundry/contracts/.tool-versions
  apps/snfoundry/contracts/src/cofi_collection.cairo
  apps/snfoundry/package.json
  apps/snfoundry/scripts-cairo/README.md
  apps/snfoundry/scripts-ts/deploy-contract.ts
  apps/snfoundry/scripts-ts/deploy.ts
  apps/snfoundry/scripts-ts/helpers/deploy-wrapper.ts
  apps/snfoundry/scripts-ts/helpers/fees.ts
  apps/snfoundry/scripts-ts/helpers/networks.ts
  apps/snfoundry/scripts-ts/helpers/parse-deployments.ts
  apps/snfoundry/scripts-ts/types.ts
  apps/snfoundry/scripts-ts/verify-contracts.ts
  apps/web/contracts/deployedContracts.ts
  apps/web/src/app/user-profile/page.tsx
  apps/web/src/contracts/abi/CofiCollection.ts
  bun.lockb
  package.json
Due: check, sn_format

fix: restore upgradable interface
  apps/snfoundry/contracts/src/cofi_collection.cairo
Due: sn_format

fix: update command routes
  apps/snfoundry/package.json
  apps/snfoundry/scripts-ts/helpers/deploy-wrapper.ts
  package.json
Due: check

feat: add github actions script
  .github/workflows/deploy.yml
Due: none

feat: add github actions script for smart contract testing
  .github/workflows/test.yml
Due: none

feat: add coderabbit configuration
  .coderabbit.yaml
Due: none

fix: update deployment scripts (#39)
  apps/snfoundry/.env.example
  apps/snfoundry/contracts/.tool-versions
  apps/snfoundry/contracts/src/cofi_collection.cairo
  apps/snfoundry/package.json
  apps/snfoundry/scripts-cairo/README.md
  apps/snfoundry/scripts-ts/deploy-contract.ts
  apps/snfoundry/scripts-ts/deploy.ts
  apps/snfoundry/scripts-ts/helpers/deploy-wrapper.ts
  apps/snfoundry/scripts-ts/helpers/fees.ts
  apps/snfoundry/scripts-ts/helpers/networks.ts
  apps/snfoundry/scripts-ts/helpers/parse-deployments.ts
  apps/snfoundry/scripts-ts/types.ts
  apps/snfoundry/scripts-ts/verify-contracts.ts
  apps/web/contracts/deployedContracts.ts
  apps/web/src/app/user-profile/page.tsx
  apps/web/src/contracts/abi/CofiCollection.ts
  bun.lockb
  package.json
Due: check, sn_format

fix: update bun cd/ci config
  .github/workflows/deploy.yml
Due: none

fix: simplify the deployment focusing on the database update if required
  .github/workflows/deploy.yml
Due: none

fix: update the test path workflow
  .github/workflows/test.yml
Due: none

fix: update the starknet foundry test workflow
  .github/workflows/test.yml
Due: none

fix: update the route for the tools file
  .github/workflows/test.yml
Due: none

fix: update middleware matches to fix the initial animation
  apps/web/src/middleware.ts
Due: check

fix: update middleware matches to fix the initial animation (#41)
  apps/web/src/middleware.ts
Due: check

Feature/cd ci config (#40)
  .coderabbit.yaml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

add: skeleton of Marketplace smart contract
  apps/snfoundry/contracts/src/Marketplace.cairo
Due: sn_format

add: functions with role based access control
  apps/snfoundry/contracts/src/Marketplace.cairo
Due: sn_format

feat: ERC-1155 CofiCollection WIP
  apps/snfoundry/contracts/Scarb.lock
  apps/web/src/contracts/configExternalContracts.ts
  apps/web/src/contracts/deployedContracts.ts
  apps/web/src/contracts/predeployedContracts.ts
Due: check

add: delete and create product implementation
  apps/snfoundry/contracts/src/Marketplace.cairo
Due: sn_format

add: todos and create test file
  apps/snfoundry/contracts/src/Marketplace.cairo
  apps/snfoundry/contracts/src/test/test_marketplace.cairo
Due: sn_format

add: buy_product function implementation
  apps/snfoundry/contracts/src/Marketplace.cairo
Due: sn_format

fix: animation glitch
  apps/web/src/app/page.tsx
Due: check

feat: update signature verification parsing
  apps/web/src/providers/starknet.tsx
  apps/web/src/utils/signinWithStarknet.ts
Due: check

feat: update signature verification parsing (#43)
  apps/web/src/providers/starknet.tsx
  apps/web/src/utils/signinWithStarknet.ts
Due: check

fix: use recommended injected connectors
  apps/web/src/providers/starknet.tsx
Due: check

fix: use recommended injected connectors (#44)
  apps/web/src/providers/starknet.tsx
Due: check

feat: Add my claims view
  apps/web/src/app/_components/features/OrderListPriceItem.tsx
  apps/web/src/app/_components/features/ProductStatusDetails.tsx
  apps/web/src/app/_components/features/ProfileOptions.tsx
  apps/web/src/app/user/my-claims/[id]/page.tsx
  apps/web/src/app/user/my-claims/page.tsx
Due: check

feat: wip for erc1155 fixes
  apps/snfoundry/contracts/.tool-versions
  apps/snfoundry/contracts/Scarb.toml
  apps/snfoundry/scripts-ts/deploy.ts
  apps/snfoundry/scripts-ts/helpers/networks.ts
Due: check

feat: add filter modal and enhance search functionality
  apps/web/package.json
  apps/web/src/app/_components/features/FilterModal.tsx
  apps/web/src/app/_components/features/SearchBar.tsx
  apps/web/src/server/api/routers/product.ts
  bun.lockb
  packages/ui/src/form/inputField.tsx
Due: check

feat: product details implementation and functionality
  apps/web/src/app/_components/features/ProductCatalog.tsx
  apps/web/src/app/_components/features/ProductDetails.tsx
  apps/web/src/app/api/product/[id]/route.ts
  apps/web/src/app/product/[id]/page.tsx
Due: check
