Repository Vagabonds-Labs/cofiblocks: changes, and which lefthook commands are due for each by the changed paths.
All: check, sn_format

lefthook.yml:

commit-msg:
  scripts:
    # template_checker.sh:
    ./.lefthook/commit-msg/template_checker.sh:
      runner: bash # Optional, Lefthook will default to bash if you don't specify it

pre-commit:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run format:fix
      stage_fixed: true
    sn_format:
      glob: "apps/snfoundry/contracts/**/*.cairo"
      run: bun run sn:format:check
      stage_fixed: true
    build:
      run: bun run build

fix: improve wallet detection and redirection in middleware
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/pt/common.json
  apps/web/src/app/onboarding/_actions.ts
  apps/web/src/app/onboarding/page.tsx
  apps/web/src/middleware.clerk.ts
Due: check

feat: new translations
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/pt/common.json
Due: check

feat: ux changes
  apps/web/next-i18next.config.js
  apps/web/src/app/_components/features/WalletDetails.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/onboarding/page.tsx
  apps/web/src/app/user-profile/page.tsx
  apps/web/src/i18n.ts
Due: check

Feat/chipi integration (#132)
  apps/web/.env.example
  apps/web/next-i18next.config.js
  apps/web/package.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/pt/common.json
  apps/web/src/app/_components/features/ProfileOptionLayout.tsx
  apps/web/src/app/_components/features/WalletDetails.tsx
  apps/web/src/app/_components/wallet/WalletInfo.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/marketplace/page.tsx
  apps/web/src/app/onboarding/_actions.ts
  apps/web/src/app/onboarding/page.tsx
  apps/web/src/app/user-profile/page.tsx
  apps/web/src/hooks/useWallet.ts
  apps/web/src/i18n.ts
  apps/web/src/middleware.clerk.ts
  apps/web/src/middleware.ts
  apps/web/src/providers/chipi/ChipiProvider.tsx
  apps/web/src/providers/mock-wallet/MockWalletContext.tsx
  apps/web/src/providers/starknet.tsx
  apps/web/src/services/chipi.ts
  apps/web/src/types/index.ts
  packages/ui/src/pageHeader.tsx
Due: check

Upgrade starknet version
  apps/snfoundry/contracts/.tool-versions
  apps/snfoundry/contracts/Scarb.lock
  apps/snfoundry/contracts/Scarb.toml
  apps/snfoundry/contracts/src/cofi_collection.cairo
  apps/snfoundry/contracts/src/distribution.cairo
  apps/snfoundry/contracts/src/lib.cairo
  apps/snfoundry/contracts/src/marketplace.cairo
  apps/snfoundry/contracts/src/mock_contracts/Receiver.cairo
  apps/snfoundry/contracts/src/test/test_cofi_collection.cairo
  apps/snfoundry/contracts/src/test/test_marketplace.cairo
  apps/web/package.json
  lefthook.yml
Due: check, sn_format

Add distribution
  apps/snfoundry/contracts/src/distribution.cairo
  apps/snfoundry/contracts/src/lib.cairo
  apps/snfoundry/contracts/src/marketplace.cairo
  apps/snfoundry/contracts/src/test/test_distribution.cairo
  apps/snfoundry/contracts/src/test/test_marketplace.cairo
Due: sn_format

Updated chipi-SDK version to 3.0.5
  apps/web/.env.example
  apps/web/package.json
  apps/web/sql/init.sql
  apps/web/src/app/_components/auth/SignIn.tsx
  apps/web/src/app/_components/features/ProfileOptionLayout.tsx
  apps/web/src/app/_components/features/ProfileOptions.tsx
  apps/web/src/app/_components/features/WalletDetails.tsx
  apps/web/src/app/_components/features/checkout/OrderReview.tsx
  apps/web/src/app/_components/layout/Header.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/marketplace/page.tsx
  apps/web/src/app/onboarding/_actions.ts
  apps/web/src/app/onboarding/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/product/[id]/page.tsx
  apps/web/src/app/user-profile/page.tsx
  apps/web/src/app/user/my-claims/page.tsx
  apps/web/src/hooks/user/useOrderFiltering.tsx
  apps/web/src/middleware.clerk.ts
  apps/web/src/providers/chipi/ChipiProvider.tsx
  apps/web/src/providers/starknet.tsx
  apps/web/src/services/chipi.ts
  apps/web/src/types/index.ts
  bun.lock
  bun.lockb
  docker-compose.yml
  package.json
  packages/ui/src/pageHeader.tsx
Due: check

Delete apps/web/sql/init.sql
  apps/web/sql/init.sql
Due: none

Distribution (#133)
  apps/snfoundry/contracts/.tool-versions
  apps/snfoundry/contracts/Scarb.lock
  apps/snfoundry/contracts/Scarb.toml
  apps/snfoundry/contracts/src/cofi_collection.cairo
  apps/snfoundry/contracts/src/distribution.cairo
  apps/snfoundry/contracts/src/lib.cairo
  apps/snfoundry/contracts/src/marketplace.cairo
  apps/snfoundry/contracts/src/mock_contracts/Receiver.cairo
  apps/snfoundry/contracts/src/test/test_cofi_collection.cairo
  apps/snfoundry/contracts/src/test/test_distribution.cairo
  apps/snfoundry/contracts/src/test/test_marketplace.cairo
  apps/web/package.json
  lefthook.yml
Due: check, sn_format

add chipi provider
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/providers/chipi/ChipiProvider.tsx
  package.json
Due: check

add create wallet types
  apps/web/src/app/onboarding/page.tsx
  apps/web/src/types/index.ts
Due: check

Feat/chipi sdk clean (#136)
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/app/onboarding/page.tsx
  apps/web/src/providers/chipi/ChipiProvider.tsx
  apps/web/src/types/index.ts
  package.json
Due: check

docs: added a link to the workflow (#127)
  README.md
Due: none

Update README.md
  README.md
Due: none

feat: add roaster/producer relation in dist
  apps/snfoundry/contracts/src/distribution.cairo
  apps/snfoundry/contracts/src/test/test_distribution.cairo
Due: sn_format

fix: fix contract deployment scripts
  apps/snfoundry/.env.example
  apps/snfoundry/deployments/clear.mjs
  apps/snfoundry/deployments/mainnet_latest.json
  apps/snfoundry/deployments/sepolia_latest.json
  apps/snfoundry/package-lock.json
  apps/snfoundry/package.json
  apps/snfoundry/scripts-ts/deploy-contract.ts
  apps/snfoundry/scripts-ts/deploy.ts
  apps/snfoundry/scripts-ts/helpers/deploy-wrapper.ts
  apps/snfoundry/scripts-ts/helpers/error-handler.ts
  apps/snfoundry/scripts-ts/helpers/fees.ts
  apps/snfoundry/scripts-ts/helpers/networks.ts
  apps/snfoundry/scripts-ts/helpers/parse-deployments.ts
  apps/snfoundry/scripts-ts/types.ts
  apps/snfoundry/scripts-ts/verify-contracts.ts
  apps/web/SHOW
  apps/web/contracts/deployedContracts.ts
  apps/web/src/app/_components/auth/SignIn.tsx
  apps/web/src/app/_components/features/ProfileOptionLayout.tsx
  apps/web/src/app/_components/features/ProfileOptions.tsx
  apps/web/src/app/_components/features/WalletDetails.tsx
  apps/web/src/app/_components/features/checkout/OrderReview.tsx
  apps/web/src/app/_components/layout/Header.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/marketplace/page.tsx
  apps/web/src/app/onboarding/_actions.ts
  apps/web/src/app/onboarding/page.tsx
  apps/web/src/app/product/[id]/page.tsx
  apps/web/src/app/user-profile/page.tsx
  apps/web/src/app/user/my-claims/page.tsx
  apps/web/src/hooks/user/useOrderFiltering.tsx
  apps/web/src/middleware.clerk.ts
  apps/web/src/providers/starknet.tsx
  apps/web/src/services/chipi.ts
  apps/web/src/types/index.ts
  lefthook.yml
  package-lock.json
  packages/ui/src/pageHeader.tsx
Due: check

Add roaster producer (#138)
  apps/snfoundry/contracts/src/distribution.cairo
  apps/snfoundry/contracts/src/test/test_distribution.cairo
Due: sn_format

feat: add cavos calls to backend
  apps/web/src/server/contracts/cavos.ts
  apps/web/src/server/contracts/marketplace.ts
  apps/web/src/server/contracts/utils.ts
Due: check

Add usdt usdc to contracts (#130)
  apps/snfoundry/contracts/Scarb.lock
  apps/snfoundry/contracts/Scarb.toml
  apps/snfoundry/contracts/src/marketplace.cairo
  apps/snfoundry/contracts/src/test/test_marketplace.cairo
  apps/web/src/trpc/react.tsx
Due: check, sn_format

feat: cavos sdk integration auth + session
  apps/web/.env.example
  apps/web/package.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/pt/common.json
  apps/web/src/app/_components/features/AuthForm.tsx
  apps/web/src/app/_components/features/GoogleAuth.tsx
  apps/web/src/app/_components/features/ProfileCard.tsx
  apps/web/src/app/_components/features/ProfileOptions.tsx
  apps/web/src/app/_components/features/UserProfile.tsx
  apps/web/src/app/_components/features/WalletConnectionCheck.tsx
  apps/web/src/app/_components/layout/Header.tsx
  apps/web/src/app/_components/ui/LoginAnimation.tsx
  apps/web/src/app/_components/ui/Spinner.tsx
  apps/web/src/app/auth/callback/page.tsx
  apps/web/src/app/auth/page.tsx
  apps/web/src/app/auth/signin/page.tsx
  apps/web/src/app/auth/signup/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/user-profile/page.tsx
  apps/web/src/app/user/edit-profile/my-profile/page.tsx
  apps/web/src/app/user/favorites/page.tsx
  apps/web/src/app/user/my-claims/[id]/page.tsx
  apps/web/src/app/user/my-orders/[id]/page.tsx
  apps/web/src/app/user/my-orders/page.tsx
  apps/web/src/providers/cavos-auth.tsx
  apps/web/src/server/api/routers/order.ts
  apps/web/src/server/api/trpc.ts
  apps/web/src/server/auth.ts
  apps/web/src/services/cavosAuthService.ts
  apps/web/src/trpc/react.tsx
  apps/web/src/utils/animationsConfig.ts
  bun.lockb
  package-lock.json
  package.json
  packages/ui/src/pageHeader.tsx
Due: check

Add cavos
  apps/web/package.json
  apps/web/src/app/_components/features/checkout/OrderReview.tsx
  apps/web/src/app/product/[id]/page.tsx
  apps/web/src/app/shopping-cart/page.tsx
  apps/web/src/app/user/collectibles/page.tsx
  apps/web/src/app/user/my-claims/page.tsx
  apps/web/src/app/user/register-coffee/page.tsx
  apps/web/src/server/api/root.ts
  apps/web/src/server/api/routers/cofi_collection.ts
  apps/web/src/server/api/routers/distribution.ts
  apps/web/src/server/api/routers/marketplace.ts
  apps/web/src/services/cavos.ts
  apps/web/src/services/contracts/cofi_collection.ts
  apps/web/src/services/contracts/distribution.ts
  apps/web/src/services/contracts/marketplace.ts
  apps/web/src/utils/contracts.ts
  apps/web/src/utils/formatting.ts
Due: check

Fix deploy script
  apps/snfoundry/.env.example
  apps/snfoundry/deployments/clear.mjs
  apps/snfoundry/package.json
  apps/snfoundry/scripts-ts/deploy-contract.ts
  apps/snfoundry/scripts-ts/deploy.ts
  apps/snfoundry/scripts-ts/helpers/deploy-wrapper.ts
  apps/snfoundry/scripts-ts/helpers/error-handler.ts
  apps/snfoundry/scripts-ts/helpers/fees.ts
  apps/snfoundry/scripts-ts/helpers/networks.ts
  apps/snfoundry/scripts-ts/helpers/parse-deployments.ts
  apps/snfoundry/scripts-ts/types.ts
  apps/snfoundry/scripts-ts/verify-contracts.ts
Due: check

Add getEvents
  apps/snfoundry/deployments/mainnet_latest.json
  apps/web/src/app/user/my-claims/page.tsx
  apps/web/src/contracts/configExternalContracts.ts
  apps/web/src/contracts/deployedContracts.ts
  apps/web/src/server/api/routers/marketplace.ts
  apps/web/src/server/api/routers/user.ts
  apps/web/src/utils/contracts.ts
Due: check

Remove old contractsInterface
  apps/web/src/server/api/routers/order.ts
  apps/web/src/services/contractsInterface.ts
  apps/web/src/services/serverContracts.ts
Due: check

Fix dependencies and format
  apps/snfoundry/deployments/clear.mjs
  apps/snfoundry/deployments/mainnet_latest.json
  apps/snfoundry/scripts-ts/deploy-contract.ts
  apps/snfoundry/scripts-ts/deploy.ts
  apps/snfoundry/scripts-ts/helpers/deploy-wrapper.ts
  apps/snfoundry/scripts-ts/helpers/networks.ts
  apps/snfoundry/scripts-ts/helpers/parse-deployments.ts
  apps/snfoundry/scripts-ts/verify-contracts.ts
  apps/web/package.json
  apps/web/src/app/_components/features/checkout/OrderReview.tsx
  apps/web/src/app/product/[id]/page.tsx
  apps/web/src/app/user/collectibles/page.tsx
  apps/web/src/app/user/my-claims/page.tsx
  apps/web/src/contracts/deployedContracts.ts
  apps/web/src/server/api/root.ts
  apps/web/src/server/api/routers/cofi_collection.ts
  apps/web/src/server/api/routers/distribution.ts
  apps/web/src/server/api/routers/marketplace.ts
  apps/web/src/server/api/routers/order.ts
  apps/web/src/server/api/routers/user.ts
  apps/web/src/services/cavos.ts
  apps/web/src/services/contracts/cofi_collection.ts
  apps/web/src/services/contracts/distribution.ts
  apps/web/src/services/contracts/marketplace.ts
  apps/web/src/utils/contracts.ts
  apps/web/src/utils/formatting.ts
  bun.lockb
  package-lock.json
  package.json
  packages/ui/package.json
  packages/ui/tsconfig.json
Due: check

Add registration on db
  apps/web/.env.example
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/pt/common.json
  apps/web/src/app/_components/features/AuthForm.tsx
  apps/web/src/app/_components/features/UserProfile.tsx
  apps/web/src/app/_components/features/WalletConnect.tsx
  apps/web/src/app/_components/features/WalletConnectFlow.tsx
  apps/web/src/app/_components/features/WalletConnectionCheck.tsx
  apps/web/src/app/_components/features/index.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/marketplace/page.tsx
  apps/web/src/app/product/[id]/page.tsx
  apps/web/src/app/unauthorized/page.tsx
  apps/web/src/app/user/collectibles/page.tsx
  apps/web/src/app/user/my-claims/page.tsx
  apps/web/src/constants/index.tsx
  apps/web/src/providers/cavos-auth.tsx
  apps/web/src/server/api/routers/user.ts
  apps/web/src/server/api/trpc.ts
  apps/web/src/services/cavos.ts
  apps/web/src/utils/contracts.ts
  apps/web/src/utils/signinWithStarknet.ts
Due: check

Migrate to postgresql
  README.md
  apps/web/package.json
  apps/web/prisma/migrations/20240826162639_/migration.sql
  apps/web/prisma/migrations/20240923180326_add_new_fields_model_product/migration.sql
  apps/web/prisma/migrations/20240925141704_/migration.sql
  apps/web/prisma/migrations/20240927014656_/migration.sql
  apps/web/prisma/migrations/20240927020400_/migration.sql
  apps/web/prisma/migrations/20240927043656_/migration.sql
  apps/web/prisma/migrations/20240927233047_/migration.sql
  apps/web/prisma/migrations/20241004044506_/migration.sql
  apps/web/prisma/migrations/20241024030148_/migration.sql
  apps/web/prisma/migrations/20250120164024_add_token_id_to_product/migration.sql
  apps/web/prisma/migrations/20250219013845_add_password_field/migration.sql
  apps/web/prisma/migrations/20250221211608_add_seller_to_order/migration.sql
  apps/web/prisma/migrations/20250222223115_add_favorites/migration.sql
  apps/web/prisma/migrations/20250320000000_add_stock_field/migration.sql
  apps/web/prisma/migrations/20251001160150_init/migration.sql
  apps/web/prisma/migrations/[timestamp]_add_password_field.sql
  apps/web/prisma/migrations/migration_lock.toml
  apps/web/prisma/schema.prisma
  apps/web/src/app/unauthorized/page.tsx
  apps/web/src/providers/cavos-auth.tsx
  apps/web/src/server/api/routers/product.ts
  apps/web/src/server/api/trpc.ts
  bun.lockb
  package-lock.json
Due: check

Move auth to the backend
  apps/web/package.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/pt/common.json
  apps/web/src/app/_components/features/AuthForm.tsx
  apps/web/src/app/auth/verify/page.tsx
  apps/web/src/server/api/root.ts
  apps/web/src/server/api/routers/auth.ts
  apps/web/src/server/api/routers/user.ts
  apps/web/src/server/services/auth-service.ts
  apps/web/src/server/services/mail-service.ts
  apps/web/src/utils/parseErrorMessages.ts
  bun.lockb
Due: check

Move auth to the backend
  apps/web/prisma/migrations/20251003134828_update_verification_token_and_user_schema/migration.sql
  apps/web/prisma/migrations/20251003141815_add_user_cavos_table/migration.sql
  apps/web/prisma/schema.prisma
  apps/web/src/app/_components/features/AuthForm.tsx
  apps/web/src/app/_components/features/LogoutModal.tsx
  apps/web/src/app/_components/features/ProfileOptionLayout.tsx
  apps/web/src/app/_components/layout/Header.tsx
  apps/web/src/app/auth/verify/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/marketplace/page.tsx
  apps/web/src/middleware.ts
  apps/web/src/providers/session.tsx
  apps/web/src/server/api/routers/auth.ts
  apps/web/src/server/api/routers/cofi_collection.ts
  apps/web/src/server/api/routers/distribution.ts
  apps/web/src/server/api/routers/marketplace.ts
  apps/web/src/server/api/routers/order.ts
  apps/web/src/server/api/routers/user.ts
  apps/web/src/server/api/trpc.ts
  apps/web/src/server/services/auth-service.ts
  apps/web/src/server/services/cavos.ts
  apps/web/src/services/contracts/marketplace.ts
  apps/web/src/utils/passwordValidation.ts
Due: check

Add getBalances for user
  apps/web/src/app/_components/features/UserBalances.tsx
  apps/web/src/app/user-profile/page.tsx
  apps/web/src/contracts/deployedContracts.ts
  apps/web/src/server/api/routers/user.ts
  apps/web/src/services/cavosAuthService.ts
  apps/web/src/utils/contracts.ts
Due: check

Fix contracts - read calls
  apps/snfoundry/contracts/src/distribution.cairo
  apps/snfoundry/contracts/src/marketplace.cairo
  apps/snfoundry/deployments/mainnet_latest.json
  apps/snfoundry/package.json
  apps/snfoundry/scripts-ts/compile.ts
  apps/snfoundry/scripts-ts/deploy-contract.ts
  apps/snfoundry/scripts-ts/helpers/deploy-wrapper.ts
  apps/snfoundry/scripts-ts/helpers/log.ts
  apps/snfoundry/scripts-ts/helpers/networks.ts
  apps/snfoundry/scripts-ts/helpers/parse-deployments.ts
  apps/snfoundry/scripts-ts/verify-contracts.ts
  apps/web/src/app/_components/features/UserBalances.tsx
  apps/web/src/app/user-profile/page.tsx
  apps/web/src/contracts/deployedContracts.ts
  apps/web/src/server/api/routers/user.ts
  lefthook.yml
  package-lock.json
Due: check, sn_format

Add product, fetch prices
  apps/web/prisma/migrations/20251004151603_add_product_owner_and_metadata/migration.sql
  apps/web/prisma/migrations/20251004172127_add_foreign_key_constraints/migration.sql
  apps/web/prisma/schema.prisma
  apps/web/public/locales/en/common.json
  apps/web/public/locales/es/common.json
  apps/web/public/locales/pt/common.json
  apps/web/src/app/_components/features/AuthForm.tsx
  apps/web/src/app/_components/features/ProductCatalog.tsx
  apps/web/src/app/_components/features/ProductDetails.tsx
  apps/web/src/app/_components/features/ProfileOptions.tsx
  apps/web/src/app/_components/features/SelectionTypeCard.tsx
  apps/web/src/app/_components/features/UserBalances.tsx
  apps/web/src/app/_components/features/checkout/CurrencySelector.tsx
  apps/web/src/app/_components/features/checkout/Deliverymethod.tsx
  apps/web/src/app/_components/features/checkout/OrderReview.tsx
  apps/web/src/app/_components/layout/Header.tsx
  apps/web/src/app/checkout/page.tsx
  apps/web/src/app/marketplace/page.tsx
  apps/web/src/app/product/[id]/page.tsx
  apps/web/src/app/user-profile/page.tsx
  apps/web/src/app/user/register-coffee/page.tsx
  apps/web/src/contracts/deployedContracts.ts
  apps/web/src/middleware.ts
  apps/web/src/server/api/routers/auth.ts
  apps/web/src/server/api/routers/cart.ts
  apps/web/src/server/api/routers/order.ts
  apps/web/src/server/api/routers/product.ts
  apps/web/src/server/api/routers/user.ts
  apps/web/src/server/auth.ts
  apps/web/src/server/services/auth-service.ts
  apps/web/src/server/services/cavos.ts
  apps/web/src/server/services/mail-service.ts
  apps/web/src/services/contracts/marketplace.ts
  apps/web/src/utils/contracts.ts
  apps/web/src/utils/parseErrorMessages.ts
  package-lock.json
Due: check
