Repository Vagabonds-Labs/cofiblocks: changes, and which lefthook commands are due for each by the changed paths.
All: check, sn_format

check:
  run: bun run format:fix
  stage_fixed: true

sn_format:
  run: bun run sn:format:check
  stage_fixed: true

fix: search bar errors mocked products
  apps/web/src/app/_components/features/SearchBar.tsx
  apps/web/src/app/_components/features/types.ts
Due: check

fix: productAtom added process
  apps/web/src/atoms/productAtom.ts
Due: check

feat: add components for product details
  apps/web/src/app/_components/features/FarmModal.tsx
  apps/web/src/app/_components/features/ProducerInfo.tsx
  apps/web/src/app/_components/features/SelectionTypeCard.tsx
  packages/ui/src/pageHeader.tsx
Due: check

feat: add images
  apps/web/public/images/Avatar.png
  apps/web/public/images/product-details/Discount-2.svg
  apps/web/public/images/product-details/Flame.svg
  apps/web/public/images/product-details/Menu-4.svg
  apps/web/public/images/product-details/SandClock.svg
  apps/web/public/images/product-details/Shopping-bag.svg
  apps/web/public/images/product-details/producer-info/External-link.svg
  apps/web/public/images/product-details/producer-info/Information-circle.svg
  apps/web/public/images/product-details/producer-info/Location.svg
  apps/web/public/images/product-details/producer-info/Send.svg
  apps/web/public/images/product-details/producer-info/Star-highlighted.svg
  apps/web/public/images/product-details/producer-info/Star.svg
  apps/web/public/images/product-details/producer-info/farm.svg
  apps/web/public/images/product-details/producer-info/shopping-basket.svg
Due: none

feat: add UI components
  packages/ui/src/chatWithSeller.tsx
  packages/ui/src/dataCard.tsx
  packages/ui/src/infoCard.tsx
Due: check

feat: add changes to mockProducts
  apps/web/src/server/api/routers/mockProducts.ts
Due: check

feat: add divider producer info
  apps/web/src/app/_components/features/ProductDetails.tsx
Due: check

feat: add mint item function
  apps/snfoundry/contracts/src/cofi_collection.cairo
  apps/snfoundry/contracts/src/test/test_cofi_collection.cairo
Due: sn_format

Feat/erc1155 fixes (#49)
  apps/snfoundry/contracts/.tool-versions
  apps/snfoundry/contracts/Scarb.toml
  apps/snfoundry/contracts/src/cofi_collection.cairo
  apps/snfoundry/contracts/src/test/test_cofi_collection.cairo
  apps/snfoundry/scripts-ts/deploy.ts
  apps/snfoundry/scripts-ts/helpers/networks.ts
Due: check, sn_format

fix: changed to tailwind color
  packages/ui/src/chatWithSeller.tsx
Due: check

feat: product details implementation (#48)
  apps/web/public/images/Avatar.png
  apps/web/public/images/product-details/Discount-2.svg
  apps/web/public/images/product-details/Flame.svg
  apps/web/public/images/product-details/Menu-4.svg
  apps/web/public/images/product-details/SandClock.svg
  apps/web/public/images/product-details/Shopping-bag.svg
  apps/web/public/images/product-details/producer-info/External-link.svg
  apps/web/public/images/product-details/producer-info/Information-circle.svg
  apps/web/public/images/product-details/producer-info/Location.svg
  apps/web/public/images/product-details/producer-info/Send.svg
  apps/web/public/images/product-details/producer-info/Star-highlighted.svg
  apps/web/public/images/product-details/producer-info/Star.svg
  apps/web/public/images/product-details/producer-info/farm.svg
  apps/web/public/images/product-details/producer-info/shopping-basket.svg
  apps/web/src/app/_components/features/FarmModal.tsx
  apps/web/src/app/_components/features/ProducerInfo.tsx
  apps/web/src/app/_components/features/ProductCatalog.tsx
  apps/web/src/app/_components/features/ProductDetails.tsx
  apps/web/src/app/_components/features/SearchBar.tsx
  apps/web/src/app/_components/features/SelectionTypeCard.tsx
  apps/web/src/app/_components/features/types.ts
  apps/web/src/app/api/product/[id]/route.ts
  apps/web/src/app/product/[id]/page.tsx
  apps/web/src/atoms/productAtom.ts
  apps/web/src/server/api/routers/mockProducts.ts
  packages/ui/src/chatWithSeller.tsx
  packages/ui/src/dataCard.tsx
  packages/ui/src/infoCard.tsx
  packages/ui/src/pageHeader.tsx
Due: check

refactor: migrate from lucide-react to heroicons
  apps/web/package.json
  apps/web/src/app/_components/features/FilterModal.tsx
  apps/web/src/app/_components/features/SearchBar.tsx
  bun.lockb
  packages/ui/src/form/inputField.tsx
Due: check

feat: add filter modal and enhance search functionality (#47)
  apps/web/package.json
  apps/web/src/app/_components/features/FilterModal.tsx
  apps/web/src/app/_components/features/SearchBar.tsx
  apps/web/src/server/api/routers/product.ts
  bun.lockb
  packages/ui/src/form/inputField.tsx
Due: check

feat: add shopping cart page and functionality
  apps/web/src/app/_components/features/ProductCatalog.tsx
  apps/web/src/app/_components/features/ProductDetails.tsx
  apps/web/src/app/_components/features/ShoppingCart.tsx
  apps/web/src/app/marketplace/page.tsx
  apps/web/src/app/product/[id]/page.tsx
  apps/web/src/server/api/routers/shoppingCart.ts
Due: check

feat: add the add to cart functionality
  apps/web/src/app/_components/features/ProductList.tsx
  apps/web/src/app/_components/features/SelectionTypeCard.tsx
Due: check

fix: change functionality of product card
  packages/ui/src/productCard.tsx
Due: check

feat: add icon to header and cart atom
  apps/web/src/app/_components/layout/Header.tsx
  apps/web/src/app/shopping-cart/page.tsx
  apps/web/src/store/cartAtom.ts
  packages/ui/src/pageHeader.tsx
Due: check

fix: build issues and cart counter changes
  apps/web/src/app/user/my-sales/page.tsx
  packages/ui/package.json
  packages/ui/src/pageHeader.tsx
Due: check

finish initial implementation and add TODOs
  apps/snfoundry/contracts/Scarb.lock
  apps/snfoundry/contracts/src/Marketplace.cairo
Due: sn_format

Add Marketplace to deploy script (need to add args)
  apps/snfoundry/scripts-ts/deploy.ts
Due: check

fix: tailwind colors
  apps/web/src/app/_components/features/ShoppingCart.tsx
Due: check

fix: add marketplace to lib and modify deploy script
  apps/snfoundry/contracts/src/Marketplace.cairo
  apps/snfoundry/contracts/src/lib.cairo
  apps/snfoundry/scripts-ts/deploy.ts
Due: check, sn_format

feat: Add my claims view (#45)
  apps/web/src/app/_components/features/OrderListPriceItem.tsx
  apps/web/src/app/_components/features/ProductStatusDetails.tsx
  apps/web/src/app/_components/features/ProfileOptions.tsx
  apps/web/src/app/user/my-claims/[id]/page.tsx
  apps/web/src/app/user/my-claims/page.tsx
Due: check

feat: add marketplace contract
  apps/snfoundry/contracts/src/cofi_collection.cairo
  apps/snfoundry/contracts/src/lib.cairo
  apps/snfoundry/contracts/src/marketplace.cairo
Due: sn_format

fix: use only jotai, delete imports and files
  apps/web/src/app/_components/features/ShoppingCart.tsx
  apps/web/src/app/marketplace/page.tsx
  apps/web/src/app/user/favorites/page.tsx
  apps/web/src/server/api/root.ts
  apps/web/src/server/api/routers/shoppingCart.ts
Due: check

feat: add shopping cart functionality (#51)
  apps/web/src/app/_components/features/ProductCatalog.tsx
  apps/web/src/app/_components/features/ProductDetails.tsx
  apps/web/src/app/_components/features/ProductList.tsx
  apps/web/src/app/_components/features/SelectionTypeCard.tsx
  apps/web/src/app/_components/features/ShoppingCart.tsx
  apps/web/src/app/_components/layout/Header.tsx
  apps/web/src/app/marketplace/page.tsx
  apps/web/src/app/product/[id]/page.tsx
  apps/web/src/app/shopping-cart/page.tsx
  apps/web/src/app/user/favorites/page.tsx
  apps/web/src/app/user/my-sales/page.tsx
  apps/web/src/server/api/root.ts
  apps/web/src/server/api/routers/shoppingCart.ts
  apps/web/src/store/cartAtom.ts
  packages/ui/package.json
  packages/ui/src/pageHeader.tsx
  packages/ui/src/productCard.tsx
Due: check

add: skeleton of Marketplace smart contract
  apps/snfoundry/contracts/src/Marketplace.cairo
Due: sn_format

add: functions with role based access control
  apps/snfoundry/contracts/src/Marketplace.cairo
Due: sn_format

feat: ERC-1155 CofiCollection WIP
  apps/snfoundry/contracts/Scarb.lock
  apps/web/src/contracts/configExternalContracts.ts
  apps/web/src/contracts/deployedContracts.ts
  apps/web/src/contracts/predeployedContracts.ts
Due: check

add: delete and create product implementation
  apps/snfoundry/contracts/src/Marketplace.cairo
Due: sn_format

add: buy_product function implementation
  apps/snfoundry/contracts/src/Marketplace.cairo
Due: sn_format

add: todos and create test file
  apps/snfoundry/contracts/src/Marketplace.cairo
  apps/snfoundry/contracts/src/test/test_marketplace.cairo
Due: sn_format

fix: start fixing compiling errors
  apps/snfoundry/contracts/src/Marketplace.cairo
Due: sn_format

fix: dispatcher compile errors
  apps/snfoundry/contracts/src/Marketplace.cairo
Due: sn_format

fix: marketplace contract
  apps/snfoundry/contracts/src/Marketplace.cairo
Due: sn_format

[Documentation] Add first version of FAQ file
  FAQ.md
Due: none

feat: refactor order status management
  apps/web/src/app/_components/features/ProductDetailsList.tsx
  apps/web/src/app/_components/features/ProductStatusDetails.tsx
  apps/web/src/app/_components/features/StatusBanner.tsx
  apps/web/src/app/_components/features/StatusUpdateModal.tsx
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  sn_format: any of: apps/snfoundry/contracts/**/*.cairo
