Repository Vagabonds-Labs/cofiblocks: changes, and which lefthook commands are due for each by the changed paths.
All: check, sn_format

lefthook.yml:

commit-msg:
  scripts:
    template_checker.sh:
      runner: bash  # Optional, Lefthook will default to bash if you don't specify it

pre-commit:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run format:fix
      stage_fixed: true
    sn_format:
      glob: "apps/snfoundry/contracts/**/*.cairo"
      run: bun run sn:format:check
      stage_fixed: true
    build:
      run: bun run build

feat: duplicate code deleted
  apps/web/src/app/_components/features/checkout/CheckoutReducer.tsx
  apps/web/src/app/_components/features/checkout/Deliverymethod.tsx
  apps/web/src/app/_components/features/checkout/FarmModal.tsx
  apps/web/src/app/_components/features/checkout/LocationSelector.tsx
  apps/web/src/app/_components/features/checkout/OrderReview.tsx
  apps/web/src/app/_components/features/checkout/SelectableOption.tsx
  apps/web/src/app/checkout/page.tsx
Due: check

[docs] Changes in Contributing.md and Readme.md
  CONTRIBUTING.md
  README.md
Due: none

[docs]: Update CONTRIBUTING.md (#78)
  CONTRIBUTING.md
  README.md
Due: none

feature: implementing marketplace minting
  apps/web/src/app/user/register-coffee/page.tsx
  apps/web/src/contracts/abi/MarketPlace.ts
Due: check

Marketplace smart contract (#56)
  apps/snfoundry/contracts/src/Marketplace.cairo
  apps/snfoundry/contracts/src/lib.cairo
  apps/snfoundry/contracts/src/test/test_marketplace.cairo
  apps/snfoundry/scripts-ts/deploy.ts
  apps/web/src/contracts/configExternalContracts.ts
  apps/web/src/contracts/deployedContracts.ts
  apps/web/src/contracts/predeployedContracts.ts
Due: check, sn_format

Update README.md
  README.md
Due: none

deployment: deployed smart contracts to starknet Sepolia
  apps/snfoundry/contracts/src/marketplace.cairo
Due: sn_format

fix comment:[ For our first version, we are aiming to do transactions only on STRK.]
  apps/web/src/app/_components/features/checkout/CurrencySelector.tsx
  apps/web/src/app/checkout/page.tsx
Due: check

function written, waiting for deployment and testing
  apps/web/src/app/marketplace/page.tsx
  apps/web/src/app/user/register-coffee/page.tsx
Due: check

validated forms, displaying errors to users
  apps/web/src/app/user/register-coffee/page.tsx
Due: check

deployment: deployed smart contracts to starknet Sepolia (#92)
  apps/snfoundry/contracts/src/marketplace.cairo
Due: sn_format

feat: deploy smart contracts
  apps/snfoundry/contracts/src/cofi_collection.cairo
  apps/snfoundry/contracts/src/marketplace.cairo
  apps/snfoundry/contracts/src/test/test_marketplace.cairo
  apps/snfoundry/scripts-ts/deploy.ts
  apps/snfoundry/scripts-ts/helpers/deploy-wrapper.ts
Due: check, sn_format

Deploy smart contracts to Starknet Sepolia (#95)
  apps/snfoundry/contracts/src/cofi_collection.cairo
  apps/snfoundry/contracts/src/marketplace.cairo
  apps/snfoundry/contracts/src/test/test_marketplace.cairo
  apps/snfoundry/scripts-ts/deploy.ts
  apps/snfoundry/scripts-ts/helpers/deploy-wrapper.ts
Due: check, sn_format

docs: readme (#91)
  README.md
Due: none

feat: Update contract address and ABI for marketplace contract
  apps/web/src/constants/index.tsx
  apps/web/src/contracts/abi/MarketPlace.ts
Due: check

Feature: Update Front end for testnet contracts (#96)
  apps/web/src/constants/index.tsx
  apps/web/src/contracts/abi/MarketPlace.ts
Due: check

Added Placeholder file for pinata setup in the utils of the web app
  apps/web/src/utils/pinata.ts
Due: check

docs(onboarding): add comprehensive markdown guides for project structure
  .github/workflows/workflows.md
  .lefthook/commit-msg/commit-msg.md
  README.md
  apps/snfoundry/contracts/src/mock_contracts/mock-contracts.md
  apps/snfoundry/contracts/src/test/test.md
  apps/snfoundry/scripts-ts/helpers/helper.md
  apps/snfoundry/scripts-ts/scripts-ts.md
  apps/snfoundry/snfoundry.md
  apps/web/.env.example
  apps/web/.storybook/storybook.md
  apps/web/package.json
  apps/web/prisma/prisma.md
  apps/web/src/app/_components/features/_features.md
  apps/web/src/app/_components/hooks/_hooks.md
  apps/web/src/app/_components/layout/_layout.md
  apps/web/src/app/_components/ui/_ui.md
  apps/web/src/app/api/_api.md
  apps/web/src/app/examples/_examples.md
  apps/web/src/app/marketplace/_marketplace.md
  apps/web/src/app/product/[id]/_product.md
  apps/web/src/app/shopping-cart/_shopping.md
  apps/web/src/app/user-profile/_user-profile.md
  apps/web/src/app/user/_user.md
  apps/web/src/atoms/_atoms.md
  apps/web/src/constants/_constants.md
  apps/web/src/contracts/_contracts.md
  apps/web/src/contracts/predeployedContracts.ts
  apps/web/src/hooks/user/_hooks.md
  apps/web/src/providers/_providers.md
  apps/web/src/server/_server.md
  apps/web/src/store/_store.md
  apps/web/src/trpc/_trpc.md
  apps/web/src/types/_types.md
  apps/web/src/utils/_utils.md
  docker-compose.yml
  packages/eslint-config/README.md
  packages/typescript-config/README.md
  packages/ui/_ui.md
Due: check

pinata setup done with comments added for guide in pinata.ts
  apps/web/package.json
  apps/web/src/app/api/files/route.ts
  apps/web/src/utils/pinata.ts
  bun.lockb
Due: check

added keys for new env variables surrounding the pinata setup
  apps/web/.env.example
Due: none

Set up Pinata Cloud Storage Interaction Successfully (#98)
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/app/api/files/route.ts
  apps/web/src/utils/pinata.ts
  bun.lockb
Due: check

feat: fix build errors
  apps/web/.gitignore
  apps/web/package.json
  apps/web/src/contracts/predeployedContracts.ts
  bun.lockb
Due: check

Add marketplace tests and fixes
  apps/snfoundry/contracts/Scarb.lock
  apps/snfoundry/contracts/Scarb.toml
  apps/snfoundry/contracts/src/cofi_collection.cairo
  apps/snfoundry/contracts/src/lib.cairo
  apps/snfoundry/contracts/src/marketplace.cairo
  apps/snfoundry/contracts/src/test/test_marketplace.cairo
Due: sn_format

feat: Integrate contracts
  apps/snfoundry/.env.example
  apps/snfoundry/README.md
  apps/snfoundry/contracts/src/marketplace.cairo
  apps/snfoundry/contracts/src/test/test_marketplace.cairo
  apps/snfoundry/deployments/.gitignore
  apps/snfoundry/deployments/sepolia_latest.json
  apps/snfoundry/package.json
  apps/snfoundry/scripts-cairo/README.md
  apps/snfoundry/scripts-ts/deploy.ts
  apps/snfoundry/scripts-ts/helpers/deploy-wrapper.ts
  apps/web/.env.example
  apps/web/README.md
  apps/web/package.json
  apps/web/prisma/migrations/20250120164024_add_token_id_to_product/migration.sql
  apps/web/prisma/schema.prisma
  apps/web/prisma/seed.js
  apps/web/src/app/_components/features/ProductCatalog.tsx
  apps/web/src/app/_components/features/ProductDetails.tsx
  apps/web/src/app/_components/features/ProductList.tsx
  apps/web/src/app/_components/features/types.ts
  apps/web/src/app/api/files/route.ts
  apps/web/src/app/api/product/[id]/route.ts
  apps/web/src/app/product/[id]/page.tsx
  apps/web/src/app/shopping-cart/page.tsx
  apps/web/src/app/user/edit-profile/farm-profile/page.tsx
  apps/web/src/app/user/favorites/page.tsx
  apps/web/src/app/user/my-claims/page.tsx
  apps/web/src/app/user/register-coffee/page.tsx
  apps/web/src/atoms/productAtom.ts
  apps/web/src/contracts/configExternalContracts.ts
  apps/web/src/server/api/routers/mockProducts.ts
  apps/web/src/server/api/routers/product.ts
  apps/web/src/server/db.ts
  apps/web/src/services/contractsInterface.ts
  apps/web/src/store/cartAtom.ts
  apps/web/src/stories/NftCard.stories.tsx
  apps/web/src/utils/parseEvents.ts
  apps/web/src/utils/pinata.ts
  bun.lockb
Due: check, sn_format

feat: add check balance before claim
  apps/snfoundry/deployments/sepolia_latest.json
  apps/snfoundry/scripts-ts/deploy.ts
  apps/snfoundry/scripts-ts/helpers/deploy-wrapper.ts
  apps/web/src/app/user/my-claims/page.tsx
  apps/web/src/app/user/register-coffee/page.tsx
  apps/web/src/contracts/configExternalContracts.ts
  apps/web/src/server/api/routers/product.ts
  apps/web/src/services/contractsInterface.ts
Due: check

feat: Remove ChatWithSeller from ProductDetails UI but retain component
  apps/web/src/app/_components/features/ProductDetails.tsx
  lefthook.yml
Due: check

Enhance Existing README FILE
  README.md
Due: none

feat Enhanced the readme file
  README.md
Due: none

[refactor]: update pull request template
  pull_request_template.md
Due: none

refactor(product-details): Remove ChatWithSeller component from UI but retain component in the repo (#111)
  apps/web/src/app/_components/features/ProductDetails.tsx
  lefthook.yml
Due: check

Enhance pull request template (#113)
  pull_request_template.md
Due: none

Enhance Existing README FILE (#112)
  README.md
Due: none

docs:enhance component documentation and storybook integration
  apps/web/.env.example
  apps/web/src/stories/Alert.stories.tsx
  apps/web/src/stories/Badge.stories.tsx
  apps/web/src/stories/Button.stories.tsx
  apps/web/src/stories/CarouselCard.stories.tsx
  apps/web/src/stories/ChatWithSeller.stories.tsx
  apps/web/src/stories/IconButton.stories.tsx
  apps/web/src/stories/InfoCard.stories.tsx
  apps/web/src/stories/Modal.stories.tsx
  apps/web/src/stories/NftCard.stories.tsx
  apps/web/src/stories/Page.stories.ts
  apps/web/src/stories/Particle.stories.tsx
  apps/web/src/stories/ProductCard.stories.tsx
  apps/web/src/stories/Skeleton.stories.tsx
  apps/web/src/stories/Tooltip.stories.tsx
  apps/web/src/stories/dataCard.stories.tsx
  apps/web/src/stories/typography.stories.tsx
  bun.lockb
Due: check

feat: adding toaster
  apps/web/.env.example
  apps/web/package.json
  apps/web/public/locales/es/common.json
  apps/web/src/app/_components/features/SelectionTypeCard.tsx
  apps/web/src/app/layout.tsx
Due: check

feat: adding toaster
  apps/web/public/locales/es/common.json
  apps/web/src/app/_components/features/SelectionTypeCard.tsx
Due: check

feat: adding toaster
  apps/web/.env.example
Due: none

Feat/adding toaster (#115)
  apps/web/package.json
  apps/web/src/app/_components/features/SelectionTypeCard.tsx
  apps/web/src/app/layout.tsx
Due: check

docs: enhance component documentation and storybook integration (#114)
  apps/web/.env.example
  apps/web/src/stories/Alert.stories.tsx
  apps/web/src/stories/Badge.stories.tsx
  apps/web/src/stories/Button.stories.tsx
  apps/web/src/stories/CarouselCard.stories.tsx
  apps/web/src/stories/ChatWithSeller.stories.tsx
  apps/web/src/stories/IconButton.stories.tsx
  apps/web/src/stories/InfoCard.stories.tsx
  apps/web/src/stories/Modal.stories.tsx
  apps/web/src/stories/NftCard.stories.tsx
  apps/web/src/stories/Page.stories.ts
  apps/web/src/stories/Particle.stories.tsx
  apps/web/src/stories/ProductCard.stories.tsx
  apps/web/src/stories/Skeleton.stories.tsx
  apps/web/src/stories/Tooltip.stories.tsx
  apps/web/src/stories/dataCard.stories.tsx
  apps/web/src/stories/typography.stories.tsx
  bun.lockb
Due: check
